[user]
	name = Pavel Churzin
	email = pavel@pchurzin.ru
[core]
	autocrlf = input
	editor = vim
[rebase]
	autoSquash = true
	autostash = true
[init]
	templatedir = ~/.git_template
[alias]
	ctags = !.git/hooks/ctags
[branch]
	sort = committerdate
[tag]
	sort = taggerdate
[fetch]
	prune = true
	prunetags = false
[merge]
	conflictStyle = zdiff3
