[user]
	name = Pavel Churzin
	email = pavel@pchurzin.ru
[core]
	autocrlf = input
	editor = vim
[rebase]
	autoSquash = true
	autostash = true
[init]
	templatedir = ~/.git_template
[alias]
	ctags = !.git/hooks/ctags
[branch]
	sort = committerdate
[tag]
	sort = taggerdate
[fetch]
	prune = true
	prunetags = false
[merge]
	conflictStyle = zdiff3
	tool = vimdiff
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[rerere]
	enabled = true
[alias]
    # Difftastic aliases, so `git dlog -p` is `git log -p`
    # with difftastic and likewise for the other subcommands.
    dlog = -c diff.external=difft log --ext-diff
    dshow = -c diff.external=difft show --ext-diff
    ddiff = -c diff.external=difft diff
